extends layout

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/nav-bar.css")
  link(rel="stylesheet" href="/stylesheets/splash.css")
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content

  if locals.user
    span(id="welcome" class='navbar-text px-4') Welcome #{user.firstName}!
    img(id="cover-photo" src="../photos/cover.jpeg")
    div(id="container-div")

      each restaurant in restaurants
        div(class="restaurant-container-div")
          div(id="restaurant-text")
            a(href=`/restaurants/${restaurant.id}`)
              p(id="name")=restaurant.name
            p(id="cuisine")=`Cuisine: ${restaurant.cuisine}`
            +starRating(`${restaurant.Reviews.reduce(function(accum, review) {return accum + review.rating}, 0)}`,`${restaurant.Reviews.length}`)
            div(id="btn-div")
              a(href= `/restaurants/${restaurant.id}/reviews`)
                button() Reviews For This Restaurant
          div(id="img-div")
            a(href=`/restaurants/${restaurant.id}`)
              img(src=`${restaurant.imgURL}`)
  else
    span(id="welcome" class='navbar-text px-4') Welcome to FoodHub!
    img(id="cover-photo" src="../photos/cover.jpeg")
    div(id="container-div")

    each restaurant in restaurants
      div(class="restaurant-container-div")
        div(id="restaurant-text")
          p(id="name")=restaurant.name
          p(id="cuisine")=`Cuisine: ${restaurant.cuisine}`
          if restaurant.Reviews.length

              p(id="rating")=`Average rating: ${(restaurant.Reviews.reduce(function(accum, review) {return accum + review.rating}, 0)/restaurant.Reviews.length).toFixed(2)}`
              +starRating(`${restaurant.Reviews.reduce(function(accum, review) {return accum + review.rating}, 0)}`,`${restaurant.Reviews.length}`)
          div(id="btn-div")
            a(href= `/restaurants/${restaurant.id}/reviews`)
              button() Reviews For This Restaurant
        div(id="img-div")
          a(href=`/restaurants/${restaurant.id}`)
            img(src=`${restaurant.imgURL}`)
