extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content

    each restaurant in restaurants
      p=restaurant.name
      p=restaurant.cuisine
      p=restaurant.rating
      p
        a(href= `/restaurants/${restaurant.id}/reviews`) Reviews For This Restaurant
      p 
        a(href=`/restaurants/${restaurant.id}`)
          img(src=`${restaurant.imgURL}`)
