extends layout.pug
include utils.pug
append head
    link(rel='stylesheet' href='/stylesheets/indv-restaurants.css')

block content
    .container-div
        .restaurant-img-div
                img(src=`${restaurant.imgURL}`)
                if locals.user
                    if locals.user.isAdmin
                        form(action=`/restaurants/${restaurantId}/edit` method="get")
                            button() Edit Restaurant
        //- .restaurant-header-div
        .restaurant-details-div
            h1(id="restaurant-header")= restaurant.name
            //- form(action="/restaurants" method="get")
            //-     button(id="browse-btn") Browse More Restaurants
            h4(id="restaurant-address")= restaurant.address
            form(action=`/lists/${restaurantId}/add` method="get")
                button(id='add-to-list-btn')= `Add ${restaurant.name} to your list`
            +starRating(restaurant.Reviews.reduce(function(accum, review) {return accum + review.rating}, 0), restaurant.Reviews.length)
            .num-of-reviews-div
                if restaurant.Reviews.length === 1
                    h6(id="num-of-reviews")= `${restaurant.Reviews.length} person has reviewed ${restaurant.name}`
                else
                    h6(id="num-of-reviews")= `${restaurant.Reviews.length} people have reviewed ${restaurant.name}`
            .button-div
                if !hasReviewed
                    form(action=`/restaurants/${restaurantId}/reviews/new` method="get")
                        button(id="new-review-btn") Add New Review
            .top-reviews-div
                    each review in restaurant.Reviews
                        .review-box
                            .review
                                p(id="written")= `Written by ${review.User.firstName}`
                                if review.rating >= 5
                                    h6 ⭐⭐⭐⭐⭐
                                else if review.rating >=4 && review.rating < 5
                                    h6 ⭐⭐⭐⭐
                                else if review.rating >=3 && review.rating < 4
                                    h6 ⭐⭐⭐
                                else if review.rating >=2 && review.rating < 3
                                    h6 ⭐⭐
                                else if review.rating >=1 && review.rating < 2
                                    h6 ⭐
                                else
                                    h6
                                p(id="review-body") #{review.text}
                            if locals.user
                                if locals.user.id === review.userId
                                    form(action=`/reviews/${review.id}/edit` method="get")
                                        button(id="edit-rev-btn") Edit this review

