extends layout.pug

include utils.pug

append head
    link(rel='stylesheet' href='/stylesheets/restaurants.css')
block content
    .header-div
        a(href="/")
            h1(class="main-page-header") Food Hub
        h2(id="main-page-tagline") Get your Deets on some Eats
        if locals.user
            if locals.user.isAdmin
                form(action="/restaurants/new" method="get")
                    button(id="add-new-rest") Add New Restaurant
    div.outer-restaurant-container
        h2(id="cuisine-header") Italian
        .cuisine-div
            each restaurant in restaurants
                if restaurant.cuisine === "Italian"
                    .restaurant-details-div
                        .restaurant-img-div
                            a(href=`/restaurants/${restaurant.id}`)
                                img(class="restaurant-img" src=`${restaurant.imgURL}`)
                        .restaurant-name-div
                            h3(id="restaurant-header")= restaurant.name
                            h4(id="restaurant-address")= restaurant.address
                        +starRating(`${restaurant.Reviews.reduce(function(accum, review) {return accum + review.rating}, 0)}`,`${restaurant.Reviews.length}`)
                        a(href=`/restaurants/${restaurant.id}/reviews`)
                            h6(id="num-of-reviews")= `Reviews for ${restaurant.name} : ${restaurant.Reviews.length}`
        h2(id="cuisine-header") Indian
        .cuisine-div
            each restaurant in restaurants
                if restaurant.cuisine === "Indian"
                    .restaurant-details-div
                        .restaurant-img-div
                            a(href=`/restaurants/${restaurant.id}`)
                                img(class="restaurant-img" src=`${restaurant.imgURL}`)
                        .restaurant-name-div
                            h3(id="restaurant-header")= restaurant.name
                            h4(id="restaurant-address")= restaurant.address
                        +starRating(`${restaurant.Reviews.reduce(function(accum, review) {return accum + review.rating}, 0)}`,`${restaurant.Reviews.length}`)
                        a(href=`/restaurants/${restaurant.id}/reviews`)
                            h6(id="num-of-reviews")= `Reviews for ${restaurant.name} : ${restaurant.Reviews.length}`
        h2(id="cuisine-header") Jamaican
        .cuisine-div
            each restaurant in restaurants
                if restaurant.cuisine === "Jamaican"
                    .restaurant-details-div
                        .restaurant-img-div
                            a(href=`/restaurants/${restaurant.id}`)
                                img(class="restaurant-img" src=`${restaurant.imgURL}`)
                        .restaurant-name-div
                            h3(id="restaurant-header")= restaurant.name
                            h4(id="restaurant-address")= restaurant.address
                        +starRating(`${restaurant.Reviews.reduce(function(accum, review) {return accum + review.rating}, 0)}`,`${restaurant.Reviews.length}`)
                        a(href=`/restaurants/${restaurant.id}/reviews`)
                            h6(id="num-of-reviews")= `Reviews for ${restaurant.name} : ${restaurant.Reviews.length}`
        h2(id="cuisine-header") American
        .cuisine-div
            each restaurant in restaurants
                if restaurant.cuisine === "American"
                    .restaurant-details-div
                        .restaurant-img-div
                            a(href=`/restaurants/${restaurant.id}`)
                                img(class="restaurant-img" src=`${restaurant.imgURL}`)
                        .restaurant-name-div
                            h3(id="restaurant-header")= restaurant.name
                            h4(id="restaurant-address")= restaurant.address
                        +starRating(`${restaurant.Reviews.reduce(function(accum, review) {return accum + review.rating}, 0)}`,`${restaurant.Reviews.length}`)
                        a(href=`/restaurants/${restaurant.id}/reviews`)
                            h6(id="num-of-reviews")= `Reviews for ${restaurant.name} : ${restaurant.Reviews.length}`
        h2(id="cuisine-header") Mexican
        .cuisine-div
            each restaurant in restaurants
                if restaurant.cuisine === "Mexican"
                    .restaurant-details-div
                        .restaurant-img-div
                            a(href=`/restaurants/${restaurant.id}`)
                                img(class="restaurant-img" src=`${restaurant.imgURL}`)
                        .restaurant-name-div
                            h3(id="restaurant-header")= restaurant.name
                            h4(id="restaurant-address")= restaurant.address
                        +starRating(restaurant.Reviews.reduce(function(accum, review) {return accum + review.rating}, 0),restaurant.Reviews.length)
                        a(href=`/restaurants/${restaurant.id}/reviews`)
                            h6(id="num-of-reviews")= `Reviews for ${restaurant.name} : ${restaurant.Reviews.length}`
