extends layout.pug
block content

    h1(id="main-page-header") FOOD HUB
    h2(id="main-page-tagline") Get your Deets on some Eats
    div.outer-container
        .restaurant-div
    h2(id="cuisine-header") Italian
    each restaurant in restaurants
     .cuisine-div
        if restaurant.cuisine == "Italian"
            .restaurant-header-div
                h3(id="restaurant-header")= restaurant.name
            .restaurant-img-div
            a(href=`/restaurants/${restaurant.id}`)
                img(src=`${restaurant.imgURL}`)
            .restaurant-details-div
                h4(id="restaurant-address")
                .star-rating-div
                    h5(id="replace-with-stars")= restaurant.rating
                .num-of-reviews-div
                    h6(id="num-of-reviews")= `Number of reviews: ${restaurant.numberOfReviews}`
    h2(id="cuisine-header") Indian
    each restaurant in restaurants
     .cuisine-div
        if restaurant.cuisine === "Indian"
            .restaurant-header-div
                h3(id="restaurant-header")= restaurant.name
            .restaurant-img-div
            a(href=`/restaurants/${restaurant.id}`)
                img(src=`${restaurant.imgURL}`)
            .restaurant-details-div
                h4(id="restaurant-address")
                .star-rating-div
                    h5(id="replace-with-stars")= restaurant.rating
                .num-of-reviews-div
                    h6(id="num-of-reviews")= `Number of reviews: ${restaurant.numberOfReviews}`
    h2(id="cuisine-header") Jamaican
    each restaurant in restaurants
        .cuisine-div
        if restaurant.cuisine === "Jamaican"
            .restaurant-header-div
                h3(id="restaurant-header")= restaurant.name
            .restaurant-img-div
            a(href=`/restaurants/${restaurant.id}`)
                img(src=`${restaurant.imgURL}`)
            .restaurant-details-div
                h4(id="restaurant-address")
                .star-rating-div
                    h5(id="replace-with-stars")= restaurant.rating
                .num-of-reviews-div
                    h6(id="num-of-reviews")= `Number of reviews: ${restaurant.numberOfReviews}`
    h2(id="cuisine-header") American
    each restaurant in restaurants
        .cuisine-div
        if restaurant.cuisine === "American"
            .restaurant-header-div
                h3(id="restaurant-header")= restaurant.name
            .restaurant-img-div
            a(href=`/restaurants/${restaurant.id}`)
                img(src=`${restaurant.imgURL}`)
            .restaurant-details-div
                h4(id="restaurant-address")
                .star-rating-div
                    h5(id="replace-with-stars")= restaurant.rating
                .num-of-reviews-div
                    h6(id="num-of-reviews")= `Number of reviews: ${restaurant.numberOfReviews}`
                      h2(id="cuisine-header") American
    h2(id="cuisine-header") Mexican
    each restaurant in restaurants
        .cuisine-div
        if restaurant.cuisine === "Mexican"
            .restaurant-header-div
                h3(id="restaurant-header")= restaurant.name
            .restaurant-img-div
            a(href=`/restaurants/${restaurant.id}`)
                img(src=`${restaurant.imgURL}`)
            .restaurant-details-div
                h4(id="restaurant-address")
                .star-rating-div
                    h5(id="replace-with-stars")= restaurant.rating
                .num-of-reviews-div
                    h6(id="num-of-reviews")= `Number of reviews: ${restaurant.numberOfReviews}`
    if locals.user
        if locals.user.isAdmin
            form(action="/restaurants/new" method="get")
                button() Add New Restaurant
