extends layout.pug
append head
    link(rel='stylesheet' href='/stylesheets/user-login.css')
block content
    if errors
        each error in errors
            p=error
    div(class="front")
        h1 Register
        form(action="/users/register" method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            div(class="text")
                input(type="text" name="firstName" placeholder='First Name' value=newUser.firstName  required)
            div(class="text")
                input(type="text" name="lastName" placeholder='Last Name' value=newUser.lastName required)
            div(class="text")
                input(type="email" name="email" placeholder='Email' value=newUser.email required)
            div(class="text")
                input(type="password" name="password" placeholder='Password' required)
            div(class="text")
                input(type="password" name="confirmPassword" placeholder='Confirm Password' required)
            button(type="submit" class="register" value="Submit") Register
            button(type='button' class='btn-cancel')
                a(href='/' class='cancel-btn') Cancel
